<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/explorer.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <title>Zenith Explorer - Powered by Code Partner</title>
    <link rel="shortcut icon" href="/logo.png" type="image/x-icon">
    <link rel="icon" href="/logo.png" type="image/x-icon">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&family=Jost:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap"
        rel="stylesheet">
</head>
<body>
    <div class="container-fluid p-0 navbarContainer">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light mx-auto max980">
                    <a class="navbar-brand" href="#">
                        <img class="navbarlogo" src="/logo_index.png" style="width: 40px;">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav font-semi color-white">
                            <li class="nav-item">
                                <button class="btn zenBtn  d-flex"
                                    onclick="addToMetamask();">
                                    <img src="/metamasklogo.png">
                                    <div class="texty ml-2"> Add to MetaMask</div>
                                </button>
                            </li>
                            <li class="nav-item">
                                <button class="btn zenBtn " onclick="location.href='https://ico.zenithchain.co/'">
                                    <div class="texty">Zenith Bridge</div>
                                </button>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>


    <div class="container-fluid p-0 headerSection">
        <div class="topleftshine"></div>
        <div class="toprightshine"></div>
        <!-- real header column -->
        <div class="row max980 mx-auto" style="align-items: center;">
            <div class="col-12 col-md-5 pl-lg-0">
                <h1 class="nheading">ZENITH CHAIN EXPLORER</h1>
                <form class="row mt-4" action="/search" method="post">
                    <div class="form-group col-12">
                        <input type="text" name="q" class="form-control" id="exampleFormControlInput1"
                            placeholder="Search by address, token, transaction, block" required>
                        <button class="btn searchbtn" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="none"
                                viewBox="0 0 19 19">
                                <path fill="#fff"
                                    d="M17.71 16.29l-3.4-3.39A7.92 7.92 0 0016 8a8 8 0 10-8 8 7.92 7.92 0 004.9-1.69l3.39 3.4a1.002 1.002 0 001.639-.325 1 1 0 00-.219-1.095zM2 8a6 6 0 1112 0A6 6 0 012 8z" />
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-12 col-md-7 pr-lg-0">
                <div class="rightside">
                    <div class="si">
                        <div class="greenabs">
                        </div>
                        <div>
                            <p>Price</p>
                            <p><span>$<%= price.toLocaleString('en-US') %></span> <span style="font-size:16px">/ Zenith</span></p>
                        </div>
                    </div>
                    <div class="si">
                        <div class="greenabs">
                        </div>
                        <div>
                            <p>Holders</p>
                            <p><%= holders %></p>
                        </div>
                    </div>
                    <div class="si">
                        <div class="greenabs">
                        </div>
                        <div>
                            <p>Total Bocks</p>
                            <p><%= latestBlock.toLocaleString('en-US') %></p>
                        </div>
                    </div>
                    <div class="si">
                        <div class="greenabs">
                        </div>
                        <div>
                            <p>Total Transactions</p>
                            <p><%= totalTx.toLocaleString('en-US') %></p>
                        </div>
                    </div>
                    <div class="si">
                        <div class="greenabs">
                        </div>
                        <div>
                            <p>24hr Volume</p>
                            <p><%= volume.toLocaleString('en-US') %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- blocks -->
    <div class="container-fluid p-0 blocksdiv">
        <div class="row max980 pl-3 pr-3 pl-lg-0 pr-lg-0" style="align-items: center;">
            <div class="col-12">
                <div class="d-flex" style="align-items: center; justify-content: space-between;">
                    <h4 class="m-0">Blocks</h4>
                    <button class="btn zenBtn outlined dark" onclick="location.href='#'">
                        <div class="texty">View all Blocks</div>
                    </button>
                </div>
                <div class="blocksContainer d-flex">
                    <%for(let bk of last10Bk){%>
                    <div class="sb">
                        <div class="borderleft"></div>
                        <a href="/block/<%= bk.number %>">
                            <div class="blockid"><%= bk.number %></div>
                        </a>
                        <div class="blockinfo">
                            <div class="fs-6">
                                <span><%= bk.transactions.length %> Transactions</span>
                                <span class="ml-3">
                                    <%=  
                                        new Date(bk.timestamp*1000).toLocaleString("en-US", {second: "numeric"}); 
                                    %> Seconds ago
                                    </span>
                            </div>
                            <a href="/block/<%= bk.miner %>">
                                <div class="mt-1">Validator 
                                    <%= 
                                    (bk.miner).toLocaleString('en-US').slice(0, 7)
                                    %>...<%= 
                                    (bk.miner).toLocaleString('en-US').slice(38, 42)
                                    %>
                                </div>
                            </a>
                        </div>
                    </div>
                    <%}%>
                </div>
            </div>
        </div>
    </div>

    <!-- transactions div -->
    <div class="container-fluid p-0 transdiv">
        <div class="row max980 pl-3 pr-3 pl-lg-0 pr-lg-0" style="align-items: center;">
            <div class="col-12">
                <div class="d-flex" style="align-items: center; justify-content: space-between;">
                    <h4 class="m-0">Transactions</h4>
                    <button class="btn zenBtn outlined dark" onclick="location.href='#'">
                        <div class="texty">View all Transactions</div>
                    </button>
                </div>
                <div class="d-flex tranContainer">
                    <%for(let tx of last10Txn){%>
                    <div class="st success">
                        <div class="status">
                            <div class="borderleft"></div>
                            <span class="font-b">Transaction</span>
                            <span>Success</span>
                        </div>
                        <div class="tranInfo">
                            <div class="d-flex">
                                <div>Hash</div>
                                <a href="/tx/<%= tx.hash %>">
                                    <div class="ml-2 color-purple hashcode">
                                        <%= tx.hash.substr(0,15) %>
                                    </div>
                                </a>
                            </div>
                            <div class="d-flex mt-1">
                                <div>
                                    <span>From</span>
                                    <a href="/address/<%= tx.from %>">
                                        <span class="ml-2 color-purple"><%= (tx.from?tx.from:tx.contractAddress).substr(0,15) %></span>
                                    </a>
                                </div>
                                <div>
                                    <span>To</span>
                                    <a href="/address/<%= tx.to %>">
                                        <span class="ml-2 color-purple"><%= (tx.to?tx.to:tx.contractAddress).substr(0,15) %></span>
                                    </a>
                                </div>
                            </div>
                            <div class="mt-3" style="font-size: 12px;">
                                <%= tx.gasUsed %> ZENITH TX burned
                            </div>
                        </div>
                        <div class="value">
                            <div class="color-purple"><%= (Number(tx.value)/10**18).toLocaleString('en-US')%> ZENITH</div>
                            <a href="/block/<%= tx.blockNumber %>">
                                <div class="mt-3">Block #<%= tx.blockNumber %></div>
                            </a>
                            <div class="font-n">
                                <%=  
                                new Date(tx.timestamp*1000).toLocaleString("en-US", {second: "numeric"}); 
                            %> Seconds ago
                            </div>
                        </div> 
                    </div>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
            
        </div>
    </div>
    <!--Footer start-->
    <div class="container-fluid p-0 footer" data-aos="fade-in" data-aos-duration="1800" data-aos-offset="80">
        <div class="row max980 lsection mt-0" data-aos="fade-in" data-aos-delay="400">
            <div class="col-12 col-lg-4" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="400"
                data-aos-offset="60">
                <img src="assets/images/footerlogo.png">
                <div class="mt-4 pt-4">
                    <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="none" viewBox="0 0 20 16">
                            <path fill="url(#paint0_linear_71:187)"
                                d="M19.286 0H.714A.703.703 0 000 .693v13.853c0 .383.32.692.714.692h18.572c.395 0 .714-.31.714-.692V.693A.703.703 0 0019.286 0zm-1.804 2.357L10.44 7.671a.491.491 0 01-.592 0L2.804 2.357a.151.151 0 01-.054-.174.156.156 0 01.058-.076.164.164 0 01.094-.03h14.482c.034 0 .066.011.093.03a.151.151 0 01.06.172.155.155 0 01-.055.078z" />
                            <defs>
                                <linearGradient id="paint0_linear_71:187" x1=".001" x2="20" y1="7.619" y2="7.619"
                                    gradientUnits="userSpaceOnUse">
                                    <stop offset=".01" stop-color="#FFF7A6" />
                                    <stop offset=".247" stop-color="#FDF19B" />
                                    <stop offset=".247" stop-color="#FEF59C" />
                                    <stop offset=".703" stop-color="#EDB556" />
                                    <stop offset="1" stop-color="#FFF594" />
                                </linearGradient>
                            </defs>
                        </svg>
                        <div class="ml-3">
                            <a href="mailto:info@zenithchain.co" class="color-white">
                                info@zenithchain.co
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mt-2">
                        <svg class="ml-1" width="18" height="23" fill="none" viewBox="0 0 18 23">
                            <path fill="url(#paint0_linear_71:191)"
                                d="M9 0a9.01 9.01 0 00-9 9 8.91 8.91 0 001.813 5.4s.246.323.286.37L9 22.91l6.905-8.144c.036-.044.282-.366.282-.366v-.002A8.906 8.906 0 0018 9a9.01 9.01 0 00-9-9zm0 12.273a3.273 3.273 0 110-6.546 3.273 3.273 0 010 6.546z" />
                            <defs>
                                <linearGradient id="paint0_linear_71:191" x1=".001" x2="18" y1="11.455" y2="11.455"
                                    gradientUnits="userSpaceOnUse">
                                    <stop offset=".01" stop-color="#FFF7A6" />
                                    <stop offset=".247" stop-color="#FDF19B" />
                                    <stop offset=".247" stop-color="#FEF59C" />
                                    <stop offset=".703" stop-color="#EDB556" />
                                    <stop offset="1" stop-color="#FFF594" />
                                </linearGradient>
                            </defs>
                        </svg>
                        <div class="ml-3 color-white">vytauto str33, Vilnius Lithuania</div>
                    </div>
                    <div class="mt-3 pt-4 color-white">BSC Contract Address:<br>
                        0x57C81885FaAd67fC4dE892102f6FEAd3b9215f6b</div>
                    <div class="mt-2 pt-1 color-white">ERC Contract Address:<br>
                        0x0343131c0257ac21ea5a8dc83841f071efd9285c
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-2 mt-4 mt-lg-0" data-aos="fade-up" data-aos-duration="1200"
                data-aos-delay="500" data-aos-offset="60">
                <h5 class="color-white">Products</h5>
                <ul>
                    <li><a href="https://ico.zenithchain.co/">Zenith Coin</a></li>
                    <li><a href="https://www.zenithchain.co/comingsoon">Zenith Pay</a></li>
                    <li><a href="https://www.zenithchain.co/comingsoon">Zenith Exchange</a></li>
                    <li> <a href="https://explorer.zenithchain.co/">Block Explorer</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 col-lg-3 mt-4 mt-lg-0" data-aos="fade-up" data-aos-duration="1200"
                data-aos-delay="600" data-aos-offset="60">
                <h5 class="color-white">For Businesses</h5>
                <ul>
                    <li><a href="https://www.zenithchain.co/comingsoon">Zenith Exchange API</a></li>
                    <li><a href="https://www.zenithchain.co/comingsoon">Zenith Wallet API</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 col-lg-3 mt-4 mt-lg-0" data-aos="fade-up" data-aos-duration="1200"
                data-aos-delay="700" data-aos-offset="60">
                <h5 class="color-white">For Developer</h5>
                <ul>
                    <li><a href="https://docs.zenithchain.co/docs/">Zenith Chain API</a></li>
                    <li><a href="https://docs.zenithchain.co/docs">Documentation</a></li>
                    <li><a href="https://docs.zenithchain.co/docs/zrc-token-specification">Smart Contract Specs</a>
                    </li>
                    <li><a href="https://docs.zenithchain.co/docs/connecting-metamask-to-zenith-chian">Connect to
                            Metamask</a></li>
                    <li><a href="https://docs.zenithchain.co/docs/zrc-token-specification">ZRC Token Specifications</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row max980">
            <div class="col-12 pt-4 pb-4 text-center" data-aos="flip-down" data-aos-duration="1200"
                data-aos-offset="50">
                <h5 class="color-white font18" style="font-weight: 400;">Connect with us</h5>
                <div class="d-flex socialicons">
                    <!-- telegram -->
                    <a href="https://t.me/zenithchainenglish" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewBox="0 0 32 32">
                            <path fill="#fff" fill-rule="evenodd"
                                d="M32 16c0 8.836-7.164 16-16 16S0 24.836 0 16 7.164 0 16 0s16 7.164 16 16zm-15.427-4.188c-1.556.647-4.666 1.987-9.33 4.019-.758.301-1.155.596-1.191.884-.061.488.55.68 1.379.94.113.036.23.072.35.112.818.265 1.916.576 2.487.588.519.01 1.097-.203 1.736-.64 4.357-2.943 6.607-4.43 6.748-4.462.1-.022.239-.052.332.032.093.083.084.24.075.283-.062.257-2.454 2.483-3.694 3.635-.386.358-.66.613-.716.672-.125.129-.253.253-.376.372-.76.73-1.328 1.28.032 2.176.654.43 1.176.786 1.698 1.141.569.388 1.137.775 1.873 1.257.187.123.365.25.54.374.663.473 1.259.897 1.995.83.426-.04.869-.441 1.093-1.64.53-2.834 1.572-8.973 1.813-11.504.015-.21.006-.42-.026-.629a.675.675 0 00-.23-.433c-.19-.156-.486-.19-.62-.187-.601.01-1.524.332-5.968 2.18z"
                                clip-rule="evenodd" />
                        </svg>
                    </a>
                    <!-- twitter -->
                    <a href="https://twitter.com/zenithchain_co" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewBox="0 0 32 32">
                            <path fill="#fff"
                                d="M16 0C7.163 0 0 7.163 0 16s7.163 16 16 16 16-7.163 16-16S24.837 0 16 0zm6.508 13.107c.007.136.009.273.009.406 0 4.167-3.169 8.969-8.965 8.969a8.892 8.892 0 01-4.83-1.417c.245.03.496.042.751.042a6.312 6.312 0 003.914-1.349 3.159 3.159 0 01-2.944-2.186c.472.09.958.07 1.422-.055a3.153 3.153 0 01-2.528-3.09v-.039a3.16 3.16 0 001.428.395 3.15 3.15 0 01-.975-4.21 8.96 8.96 0 006.495 3.295 3.152 3.152 0 015.37-2.875 6.326 6.326 0 002-.765 3.166 3.166 0 01-1.385 1.745 6.331 6.331 0 001.81-.498 6.39 6.39 0 01-1.572 1.632z" />
                        </svg>
                    </a>
                    <!-- reditt-->
                    <a href="https://www.reddit.com/r/zenithchain_co/" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewBox="0 0 32 32">
                            <path fill="#fff" fill-rule="evenodd"
                                d="M32 16c0 8.836-7.164 16-16 16S0 24.836 0 16 7.164 0 16 0s16 7.164 16 16zm-5.75-1.256c.26.37.406.805.422 1.256a2.334 2.334 0 01-1.296 2.128c.019.235.019.47 0 .704 0 3.584-4.176 6.496-9.328 6.496-5.152 0-9.328-2.912-9.328-6.496a4.593 4.593 0 010-.704 2.333 2.333 0 112.576-3.824 11.424 11.424 0 016.24-1.968l1.184-5.552a.495.495 0 01.592-.384l3.92.784a1.6 1.6 0 11-.208.976L17.6 7.44l-1.04 4.992c2.2.047 4.34.73 6.16 1.968a2.335 2.335 0 013.53.344zm-15.309 1.967a1.6 1.6 0 102.66 1.777 1.6 1.6 0 00-2.66-1.777zm5.075 6.521c1.42.059 2.817-.312 3.952-1.168a.447.447 0 10-.624-.64A5.248 5.248 0 0116 22.4a5.232 5.232 0 01-3.328-1.008.432.432 0 00-.608.608 6.145 6.145 0 003.952 1.232zm2.775-4.237c.264.176.557.333.873.333a1.598 1.598 0 001.616-1.664 1.6 1.6 0 10-2.49 1.33z"
                                clip-rule="evenodd" />
                        </svg>
                    </a>
                    <!--medium -->
                    <a href="https://medium.com/@zenithchain" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewBox="0 0 32 32">
                            <path fill="#fff"
                                d="M16 0C7.164 0 0 7.164 0 16s7.164 16 16 16 16-7.164 16-16S24.836 0 16 0zm9.143 9.06l-1.457 1.397a.423.423 0 00-.165.407V21.14a.417.417 0 00.165.407l1.428 1.397v.31h-7.171v-.296l1.475-1.432c.146-.146.146-.19.146-.407v-8.314l-4.107 10.414h-.553l-4.779-10.414v6.982a.95.95 0 00.268.8l1.921 2.325v.31H6.857v-.31l1.922-2.325a.932.932 0 00.25-.8v-8.072a.692.692 0 00-.233-.596L7.09 9.06V8.75h5.304l4.093 8.982 3.603-8.975h5.054v.304z" />
                        </svg>
                    </a>
                    <!-- github-->
                    <a href="https://github.com/jezenith/Zenith-Chain" target="_blank">

                        <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" fill="none" viewBox="0 0 33 32">
                            <path fill="#fff" fill-rule="evenodd"
                                d="M16.405 0C7.344 0 0 7.344 0 16.405c0 7.247 4.7 13.397 11.219 15.568.82.148 1.117-.357 1.117-.791 0-.39-.013-1.423-.018-2.79-4.565.99-5.528-2.2-5.528-2.2-.744-1.895-1.821-2.4-1.821-2.4-1.489-1.018.113-.995.113-.995 1.648.115 2.512 1.69 2.512 1.69 1.464 2.507 3.842 1.783 4.773 1.364.15-1.06.577-1.785 1.044-2.194-3.641-.413-7.47-1.82-7.47-8.109 0-1.788.64-3.255 1.684-4.4-.166-.416-.733-2.085.163-4.342 0 0 1.377-.442 4.51 1.68a15.761 15.761 0 014.105-.553c1.387.002 2.768.188 4.106.552 3.135-2.123 4.51-1.679 4.51-1.679.896 2.257.334 3.926.163 4.342 1.052 1.145 1.684 2.61 1.684 4.4 0 6.304-3.832 7.69-7.487 8.096.584.506 1.11 1.506 1.11 3.036 0 2.194-.02 3.964-.02 4.502 0 .439.293.949 1.13.788 6.517-2.175 11.211-8.32 11.211-15.565C32.81 7.344 25.466 0 16.405 0z"
                                clip-rule="evenodd" />
                        </svg>
                    </a>
                    <!--linekdin-->
                    <a href="https://www.linkedin.com/company/zenith-chain" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" fill="none" viewBox="0 0 33 32">
                            <path fill="#fff"
                                d="M16.81 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zm-3.917 22.632h-3.24V12.205h3.24v10.427zm-1.64-11.707c-1.023 0-1.685-.725-1.685-1.622 0-.915.682-1.618 1.727-1.618S12.98 8.388 13 9.303c0 .897-.66 1.622-1.747 1.622zm13.474 11.707h-3.24v-5.779c0-1.345-.47-2.258-1.642-2.258-.895 0-1.427.618-1.662 1.213-.086.212-.108.512-.108.81v6.012h-3.242v-7.1c0-1.302-.041-2.39-.085-3.327h2.815l.149 1.449h.065c.426-.68 1.471-1.684 3.22-1.684 2.131 0 3.73 1.429 3.73 4.499v6.165z" />
                        </svg>
                    </a>
                    <!-- facebook -->
                    <a href="https://www.facebook.com/groups/zenithchain/?ref=share" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewBox="0 0 32 32">
                            <path fill="url(#paint0_linear_202:3)" fill-rule="evenodd"
                                d="M0 16.09C0 24.043 5.777 30.658 13.333 32V20.444h-4V16h4v-3.556c0-4 2.578-6.221 6.223-6.221 1.155 0 2.4.177 3.555.354v4.09h-2.044c-1.956 0-2.4.977-2.4 2.222V16h4.266l-.71 4.444h-3.556V32C26.223 30.659 32 24.045 32 16.09 32 7.24 24.8 0 16 0S0 7.24 0 16.09z"
                                clip-rule="evenodd" />
                            <defs>
                                <linearGradient id="paint0_linear_202:3" x1="0" x2="32.376" y1="32" y2="31.22"
                                    gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#fff" />
                                    <stop offset="1" stop-color="#F4F4F4" />
                                </linearGradient>
                            </defs>
                        </svg>
                    </a>
                </div>

            </div>
            <div class="col-12 copyright text-center" data-aos="fade-in" data-aos-offset="0" data-aos-delay="400">
                Copyright 2020-2021 Zenith Chain (UAB) Ltd Reg No. 305865705. All rights reserved
            </div>
        </div>
    </div>
      <!--Footer end-->
    <!-- Scripts -->

    <script>
        async function addToMetamask(){
            console.log(window.ethereum != undefined);
            if(window.ethereum != undefined){
            try {
                await ethereum.request({
                    method: 'wallet_switchEthereumChain',
                    params: [{ chainId: '0x4F' }],
                });
            } catch (switchError) {
                // This error code indicates that the chain has not been added to MetaMask.
                if (switchError.code === 4902) {
                    try {
                    await ethereum.request({
                        method: 'wallet_addEthereumChain',
                        params: [{ 
                            chainId: '0x4F',
                            rpcUrl: 'https://dataserver-1.zenithchain.co',
                            nativeCurrency: {
                                name: 'Zenith Coin',
                                symbol: "ZENITH",
                                decimals: 18
                            },
                            blockExplorerUrls:['https://scan.zenithchain.co']
                        }],
                    });
                    } catch (addError) {
                    // handle "add" error
                    }
                }
                // handle other "switch" errors
            }
            }else{
                alert("Please Install Metamask First!")
            }
        }   
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="/main_index.js"></script>
</body>
</html>